.cartItemBtn {
    border: solid 1px black;
    background-color: gray;
    color: white;
    width: 150px;
    text-decoration: none;
}

.cartBox {
    text-decoration: none;
    display: inline-block;
    width: 80%;
}

.cartLine {
    border: 1px solid gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.validation {
    visibility: hidden;
}

.button {
    height: 40px;
    width: 150px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: gray;
    justify-content: center;
    align-items: center;
    display: flex;
}

.align {
    display: inline-grid;
}

.color {
    color: white;
}

label {
    margin: 20px;
}

input {
    margin: 20px;
}